.card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.1015);

    .title {
        font-size: 0.9375rem;
        line-height: 1.25rem;
        font-weight: 600;
    }

    .description {
        font-size: 0.9375rem;
        line-height: 1.25rem;
        font-weight: 400;
    }

    .date {
        font-size: 0.75rem;
        font-weight: 700;

        color: var(--medium-grey);
    }
}