@import "../../styles/mixins";

.button {
  padding: 0.875rem 1.75rem;
  border-radius: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: white;

  transition: background-color 0.15s linear 0.1s;

  &.primary {
    background-color: var(--main-purple);


    &:hover {
      background-color: var(--main-purple-hover);
    }
  }

  &.secondary {
    background-color: white;

    span {
      color: var(--main-purple);

    }
  }

  &.destructive {
    background-color: var(--red);

    &:hover {
      background-color: var(--red-hover);
    }
  }

  @include phone {
    padding: 0.5rem 1rem;
  }
}

.icon {
  width: 0.875rem;
  height: auto;
}