@import "../../styles/mixins";

.circle {
    width: 0.9375rem;
    height: 0.9375rem;
    border-radius: 50%;
}

.column {
    min-width: 24rem;
    max-width: 24rem;
    display: grid;
    grid-template-rows: max-content minmax(0, 1fr);

    @include mobile {
        min-width: calc(100svw - 3rem);
        max-width: calc(100svw - 3rem);
    }
}
