.text {
    &-s {
      font-size: 0.75rem;
      line-height: 0.9375rem;
    }
  
    &-m {
      font-size: 0.9375rem;
      line-height: 1.1875rem;
    }
  
    &-l {
      font-size: 1.125rem;
      line-height: 1.4375rem;
    }
  }
  