@import "../../styles/mixins";

.container {
    overflow-x: auto;
    @include phone {
        overflow-x: auto;
        scroll-snap-type: both mandatory;
        overscroll-behavior-x: contain;

        &* {
            scroll-snap-align: start;
        }
    }
}