@import "../../styles/mixins";

.dialog-container [class~='MuiDialog-container']>div {
    background-color: none !important;
    min-width: 30rem;
    max-width: 30rem;

    @include mobile {
        min-width: calc(100% - 2rem);
        max-width: calc(100% - 2rem);
    }
}

.dialog {
    background-color: var(--secondary);
    border-radius: 0.5rem;
    padding: 36px 36px 48px !important;
}