@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/text';
@import './styles/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

:root {
  --secondary: #2B2C37;
  --primary: #20212C;
  --main-purple: #635FC7;
  --main-purple-hover: #A8A4FF;
  --red: #EA5555;
  --red-hover: #FF9898;
  --dark: #3E3F4E;
  --medium-grey: #828FA3;

}

html,
body {
  height: 100svh;
  width: 100svw;
  background-color: var(--primary);
  font-family: "Plus Jakarta Sans", sans-serif;
}

#root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}



/* MUI components customization */

.MuiPaper-root * {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

.MuiMenu-list {
  background-color: var(--primary) !important;

  .Mui-selected {
    background-color: var(--secondary) !important;
  }
}

.MuiDialog-container>div {
  background-color: none !important;
  background-color: transparent !important;

  label,
  div {
    color: white;
  }

  .MuiInputLabel-outlined.Mui-focused {
    color: var(--main-purple-hover);
  }

  .MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: var(--main-purple-hover) !important;
  }

  fieldset {
    width: 100%;
    border-color: var(--primary);

    &[class~="focused"] {
      border-color: var(--main-purple) !important;
    }
  }
}
